<mat-sidenav-container class="layout-container">

  <mat-sidenav
  #sidenav
  mode="over"
  
  class="app-sidenav"
  aria-label="Main navigation"
>

  <div class="sidenav-header">
    <mat-icon>apps</mat-icon>
    <span>MSK</span>
  </div>

  <mat-nav-list>
    <a
      mat-list-item
      *ngFor="let r of language"
      (click)="onSelectNavItem(r)"
      [class.active]="selectedTopic === r"
    >
      <span matListItemTitle>{{ r | uppercase }}</span>
    </a>
  </mat-nav-list>

</mat-sidenav>


  <mat-sidenav-content>

    <header class="app-header">
      <button
        mat-mini-fab
        color="primary"
        aria-label="Open menu"
        (click)="sidenav.toggle()"
      >
        <mat-icon aria-hidden="true">menu</mat-icon>
      </button>

      <span class="header-title">{{selectedTopic | uppercase}}</span>

      <button
  mat-mini-fab
  color="accent"
  aria-label="More options"
  class="header-action"
  [matMenuTriggerFor]="settingsMenu"
>
  <mat-icon aria-hidden="true">more_vert</mat-icon>
</button>

<mat-menu #settingsMenu="matMenu">
  <button mat-menu-item (click)="onClickSetting();">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>

  <!-- <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>

  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button> -->
</mat-menu>

    </header>

    <main class="page-content">
      <div class="content-list">
        <div
          class="content-item"
          *ngFor="let qa of questionList; index as i"
          (click)="toggle(i)"
        >
          <div class="item-body">
            <div class="item-title">
              {{ i + 1 }}. {{ qa.question }}
            </div>
    
            <!-- Expanded content -->
            <div
              class="item-answer"
              [class.open]="qa.open"
            >
            <ng-container *ngFor="let ans of qa.answer">
              <div>
                {{ans}}
              </div>
            </ng-container>
            </div>
          </div>
    
          <button
            mat-icon-button
            aria-label="Copy {{ qa.question }}"
            (click)="copyText(qa.question); $event.stopPropagation()"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
      </div>
    </main>
    

  </mat-sidenav-content>

</mat-sidenav-container>
