.layout-container {
  height: 100vh;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

/* Push the right action to the end */
.header-title {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}

.header-action {
  margin-left: auto;
}

.page-content {
  padding: 16px;
}

.app-sidenav {
  width: 260px;
}

// 
.app-sidenav {
  width: 260px;
  background-color: #fafafa;
  border-right: 1px solid #e0e0e0;
}

/* Header inside sidenav */
.sidenav-header {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 64px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;
}

/* Nav item spacing & hover */



/* Container spacing */
mat-nav-list {
  padding: 8px;
}

/* List item base */
mat-nav-list a[mat-list-item] {
  display: flex;
  align-items: center;
  gap: 16px;

  padding: 10px 14px;
  margin-bottom: 6px;

  border-radius: 8px;
  text-decoration: none;
  color: inherit;

  transition: background-color 0.2s ease;
}

mat-nav-list a[mat-list-item].active {
  background-color: rgba(63, 81, 181, 0.12);
  font-weight: 600;
}

mat-nav-list a[mat-list-item]:hover {
  background-color: rgba(63, 81, 181, 0.12);
  font-weight: 600;
}